250/.metadata/*
240/.metadata/*
250/.metadata/.plugins/*
240/.metadata/.plugins/*
250/.metadata/.plugins/
240/.metadata/.plugins/
240/.recommenders/
240/.recommenders/*
250/.recommenders/
250/.recommenders/*
240/.metadata/.mylyn
250/metadata/mylyn
Help/.metadata/*
Help/.metadata/.plugins/*
Help/.metadata/.plugins/
Help/.recommenders/
Help/.recommenders/*
Help/.metadata/.mylyn
Help/metadata/mylyn
build/
build/*
build/built-jar.properties
build/classes/*
.idea/*
.idea/.name/*
.idea/.name
dist/*
manifest.mf
nbproject/*
nbproject/genfile.properties
nbproject/private/*
.metadata/*
.recommenders/*
.plugins/*
.settings/*
.settings/

*.iml
*.classpath
*.project
*.ini
*.xml
*.xml.zip
*.tasks.xml.zip
*.log
*.lock
*.class

